@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;700;900&display=swap");

* {
  white-space: pre-wrap;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", san-serif;
  --primary: rgb(204, 74, 74);
  --secondary: teal;
  --white: white;
}

#container {
  flex: 1;
  margin-top: 80px;
}

#footer {
  background: var(--secondary);
  flex: 0;
  padding: 10px;
}

#footer h1 {
  color: var(--white);
}

#navbar {
  background: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary);
  font-weight: 700;
}

.jumbotron {
  background: var(--white);
  border: 1px solid var(--red);
}

button.btn,
.btn {
  background: var(--secondary);
  border: none;
  transition: all 0.5s;
}

button.btn:hover,
.btn:hover,
button.btn:focus,
.btn:focus {
  background: var(--primary);
}

#faq .btn {
  background: var(--primary);
  color: var(--white);
}

.connection-status.btn {
  background: var(--secondary);
  color: var(--white);
  transition: all 0.5s;
}
.connection-status.btn:focus,
.connection-status.btn:hover {
  background: var(--primary);
  color: var(--white);
}

#faq .btn:hover {
  background: var(--primary);
  color: var(--white);
}

.card .card-header {
  background: var(--primary);
  color: var(--white);
}

#search-card-container .card {
  background: rgba(204, 74, 74, 0.2);
  border: 2px solid var(--primary);
}

#search-card-container .card a,
#search-card-container .card a:visited {
  color: var(--secondary);
  text-decoration: none;
}

#search-card-container .card a:hover,
#search-card-container .card a:focus {
  color: var(--primary);
}

#search-line {
  background: red;
  height: 5px;
  min-width: 10px;
  flex-grow: 1;
}

form.border-form {
  border: 2px solid rgb(145, 145, 145);
  padding: 30px;
  border-radius: 15px;
}
